@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Nunito, Arial;
    background-color:white;
}

nav {
    background-color: silver;
    padding: 10px 40px;

}

nav ul.esquerda li {
    float: left;
    list-style: none;
    background-color: silver;
    padding: 5px 10px;
    border-radius: 16px;
}

 nav img {
    width: 100px;
}

nav ul.texto li {
    text-align: center;
    text-decoration: none;
    color: black;
    list-style: none;
    font-size: 25px;
    
}

nav ul.direita li { 
    text-align: right;
    

}

.conteiner {
    width: 1140px;
    max-width: 100%;
    margin: auto;
}

.clearfix{}

.clearfix::before,

.clearfix ::after{
    content: "";
    display: block;
    clear: both;
}

[class*='col-']{
    float: left;
    padding-right: 15%;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.32%;
}
.col-5{
    width: 41.61%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.31%;
}
.col-8{
    width: 66.64%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.3%;
}
.col-11{
    width: 91.63%;
}
.col-12{
    width: 100%;
}

nav ul.direita {
    width: 65.65%;
    list-style: none;
    align-items: center;
}
